html{
	background-image: url("képek/vegso.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	height: 100vh;
}

.menu{
	text-align: left; 
	color: orange;
	display: run-in;

}
.nyitolap{
	display: inline-block;
	text-align: left;
	margin: 10px;
}

a{
	font-size: 35px;
	color: white;
}
.nev{
	font-size: 70px;
	color: gold;
	text-align: center;
	margin: 210px 60px 15px 15px;
}
.kiegeszites{
	font-size: 30px;
	color: silver;
	text-align: right;
	margin-right: 300px;
}
.cim{
	color: orange;
	padding: 10px;
	margin: 30px;
	text-align: center;
	font-size: 50px;
	border: double;
	border-radius: 30px;
	background-color: oldlace;



}
.bemutatkozas{

	color: black;
	font-size: 28px;
	text-align: center;
	padding: 20px;
	margin: 20px 150px;
}
.cim2{
	color: orange;
	padding: 5px;
	margin: 30px;
	margin-top: 90px;
	text-align: left;
	font-size: 50px;
	border: double;
	border-radius: 30px;
	background-color: oldlace;



}
.bemutatkozas2{

	color: black;
	font-size: 28px;
	text-align: right;
	padding: 20px;
	margin: 20px 150px;
}
.cim3{
	color: orange;
	padding: 5px;
	margin: 30px;
	text-align: center;
	font-size: 50px;
	border: dotted;
	border-radius: 20px;
	background-color: papayawhip;
}

.keprendezes{
	display: flex;
	flex-wrap: wrap;
	margin-left: 1rem;
}

.keprendezes .kartya{
	flex-grow: 1;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.kartya .kep{
	height: 10rem;
	background-color: rgba(0,0,0, 0.04);
	text-align: center; 
}

.kartya .kep img{
	height: 100%;
	object-fit: contain;
}

.kartya .kep img:hover{
	-webkit-box-shadow:0 4px 14px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 4px 14px 0 rgba(0,0,0,0.3);
	box-shadow: 0 4px 14px 0 rgba(0,0,0,0.3);
}

.terv{
	padding: 5px;
	margin: 10px;
	font-size: 20px;
}
.segitseg{
	
	font-size: 30px;
	color: black;
}
footer{
	background-color: rgba(21,40,104,0.3);
	color: black;
	font-size: 20px;
}